.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;

  /* your code here */
}

#bulbasaur {
  top: 20px;

  /* your code here */
}

#charmander {
  top: 40px;

  /* your code here */
}

#squirtle {
  top: 75px;

  /* your code here */
}

#pikachu {
  top: 165px;

  /* your code here */
}

#jigglypuff {
  top: 275px;

  /* your code here */
}
