* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.full-column {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

img {
  width: 100%;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  flex-basis: 66%;
}
