* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: rgb(247 248 249);
}

.container-background-change {
  background: rgb(53 56 57 / 70%);
}

.open-modal-button {
  position: absolute;
  margin: 10px;
  width: 175px;
  height: 45px;
  color: white;
  border-style: none;
  font-size: 20px;
  background-color: rgb(95 0 241);
  border-radius: 5px;
  box-shadow: 0 2px 5px grey;

  /* z-index: -1; */
}

.modal-container {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 25vh;
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 2px;
}

.modal > p {
  margin: 20px 10px;
  font-size: 20px;
  font-weight: 700;
}

.close-modal-button {
  margin: 20px 10px;
  width: 90px;
  height: 40px;
  color: white;
  border-style: none;
  font-size: 20px;
  background-color: rgb(226 89 84);
  border-radius: 5px;
  box-shadow: 0 2px 5px grey;
}
