button.language {
  font-size: 24px;
  background-color: lightgray;

  /* your code here 👇 */
}

button {
  margin-right: 12px;
  margin-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
}
